html,
body{
    margin:0;
    padding: 0;
    font-family:arial;    
}

.header{
    padding:1rem;
    text-transform: uppercase;
    background: #639779;
    color:white;
}

nav a {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s;
    color:white;
}

nav a:hover{
    color: #fab18f;
}

.container{
    max-width: 1000px;
    margin: auto;    
}

footer{
    padding: 1rem 0 1rem 0;
    border-top: 1px solid #639779;
    text-align: center;
    color: #639779;
}